@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --accent-start: #ff4d4d;
  --accent-end: #ff9e4d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent-start: var(--accent-start);
  --color-accent-end: var(--accent-end);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

/* =========================================*/
.console-bg {
  background-color: black;
  background-image: radial-gradient(rgb(31 31 31 / 75%), #282828 120%);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(0deg,
        rgba(0, 0, 0, 0.15),
        rgba(0, 0, 0, 0.15), 3px,
        transparent 3px,
        transparent 6px);
    pointer-events: none;
  }
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
  z-index: 60;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.block {
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.intro-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.25rem;
}

#word-1 {
  position: relative;
  left: -0.5rem;
  padding-right: 0.25rem;
}

.word h1 {
  font-size: 2.5rem;
  opacity: 0;
}

.word h1 {
  color: #80f58a;
  font-size: 2.5rem;
  font-family: var(--font-inconsolata), monospace;
  text-shadow: 0 0 13px #35e279;
  filter: blur(0.7px);
}

#word-1 h1 {
  transform: translateY(-120%);

}

#word-2 h1 {
  transform: translateY(120%);
}

.divider {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: center top;
  width: 1px;
  height: 100%;
  background-color: #80f58a;
}

#word-1 h1 {
  transform: translateY(-120%);
}

#word-2 h1 {
  transform: translateY(120%);
}

.block {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.divider {
  transform: scaleY(0%);
  will-change: transform;
}

.hero-img {
  will-change: transform;
  opacity: 1;
}

.line h1,
.line p {
  position: relative;
  transform: translateY(120%);
  will-change: transform;
}

/*Experience Section*/
.spotlight .svg-path {
  position: absolute;
  top: 15svh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  height: 100%;
  z-index: 1;
}

.spotlight .svg-path svg {
  width: 100%;
  height: 90%;
}

.card {
  transition: all 0.5s ease;
  border: 1px solid transparent;
}

.ex-card:not(.card-glass) p,
.ex-card:not(.card-glass) span {
  color: var(--text-gray-500);
}

.card-glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-color: rgba(255, 255, 255, 0.1);
  box-shadow:
    0 25px 50px -12px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(255, 255, 255, 0.05) inset;
  border-radius: 1rem;
  padding: 2.5rem;
  color: white;
  transform: perspective(1000px) rotateX(2deg) scale(1.02);
}

.ex-card-left.card-glass {
  transform: perspective(1000px) rotateX(2deg) rotateY(-16deg) scale(1.02);
}

.ex-card-right.card-glass {
  transform: perspective(1000px) rotateX(2deg) rotateY(16deg) scale(1.02);
}